<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="modalDelete(accountTypeId)">
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" th:attrappend="id=${'' + accountTypeId}" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete account type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Delete account type with ID = <span th:text="${accountTypeId}"></span>?</h5>
                    <form action="/accountType" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="id" th:value="${accountTypeId}">
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>