<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="modalUpdate(transaction, accountModels, categoryModels)">

    <!-- Modal -->
    <div class="modal fade" id="updateModal" th:attrappend="id=${'' + transaction.getId()}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update transaction</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/transaction" method="post">
                        <div class="form-group">
                            <label for="transactionId">Transaction ID</label>
                            <input class="form-control" type="text" name="id" th:value="${transaction.getId()}"
                                   id="transactionId"
                                   readonly>
                        </div>
                        <div class="form-group">
                            <label for="amount">Amount</label>
                            <input type="number" class="form-control" name="amount" id="amount"
                                   th:value="${transaction.getAmount()}"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input type="date" class="form-control" name="date" id="date"
                                   th:value="${transaction.getDateTime().toLocalDate()}" required>
                            <label for="time">Time</label>
                            <input type="time" class="form-control" name="time" id="time"
                                   th:value="${transaction.getDateTime().toLocalTime()}" required>
                        </div>

                        <div class="form-group" th:if="${transaction.getAccountModel() != null}">
                            <label for="account">Account</label>
                            <select class="form-control" name="account" id="account" required>
                                <div th:each="account : ${accountModels}">
                                    <option th:selected="${transaction.getAccountModel().getId() == account.getId()}"
                                            th:value="${account.getId()}">
                                        <span th:text="${account.getName()}"></span>
                                    </option>
                                </div>
                            </select>
                        </div>

                        <div class="form-group" th:if="${transaction.getAccountModel() == null}">
                            <label for="account">Account</label>
                            <select class="form-control" name="account" id="account" required>
                                <div th:each="account : ${accountModels}">
                                    <option th:value="${account.getId()}">
                                        <span th:text="${account.getName()}"></span>
                                    </option>
                                </div>
                            </select>
                        </div>

                        <div class="form-group" th:if="${transaction.getCategoryTransactionModel() != null}">
                            <label for="category">Category</label>
                            <select multiple class="form-control" name="category" id="category" required>
                                <div th:each="category : ${categoryModels}">
                                    <option th:selected="${transaction.getCategoryTransactionModel().contains(category)}"
                                            th:value="${category.getId()}">
                                        <span th:text="${category.getName()}"></span>
                                    </option>
                                </div>
                            </select>
                        </div>

                        <div class="form-group" th:if="${transaction.getCategoryTransactionModel() == null}">
                            <label for="category">Category</label>
                            <select multiple class="form-control" name="category" id="category" required>
                                <div th:each="category : ${categoryModels}">
                                    <option th:value="${category.getId()}">
                                        <span th:text="${category.getName()}"></span>
                                    </option>
                                </div>
                            </select>
                        </div>

                        <input type="hidden" name="_method" value="PUT">

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-warning">Update transaction</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>