<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Transaction find</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <style type="text/css">
        main > .container {
            padding: 80px 15px 0;
        }
    </style>
</head>

<body>
<div th:insert="navbarHeader :: header (current = ${'transaction'})"></div>

<main role="main">
    <div class="container">
        <div class="row">
            <div class="col-2"></div>

            <div class="col-8">
                <div th:if="${transactionModel != null}">
                    <div class="alert alert-primary" role="alert">Transaction ID: <span
                            th:text="${transactionModel.getId()}"></span>
                    </div>

                    <div class="row">
                        <div class="col">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Transaction amount: <span
                                        th:text="${transactionModel.getAmount()}"></span></li>
                                <li class="list-group-item">Transaction dateTime: <span
                                        th:text="${transactionModel.getDateTime()}"></span></li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul class="list-group list-group-flush"
                                th:if="${transactionModel.getAccountModel() != null}">
                                <h6>Account:</h6>
                                <li class="list-group-item">Account ID: <span
                                        th:text="${transactionModel.getAccountModel().getId()}"></span></li>
                                <li class="list-group-item">Account name: <span
                                        th:text="${transactionModel.getAccountModel().getName()}"></span></li>
                                <li class="list-group-item">Account amount: <span
                                        th:text="${transactionModel.getAccountModel().getAmount()}"></span></li>
                                <li class="list-group-item">Account bank: <span
                                        li
                                        th:text="${transactionModel.getAccountModel().getBankModel().getName()}"></span>
                                </li>
                                <li class="list-group-item">Account type: <span
                                        th:text="${transactionModel.getAccountModel().getAccountTypeModel().getType()}"></span>
                                </li>
                                <li class="list-group-item">Account currency: <span
                                        th:text="${transactionModel.getAccountModel().getCurrencyModel().getName()}"></span>
                                    \
                                    <span th:text="${transactionModel.getAccountModel().getCurrencyModel().getCode()}"></span>
                                    \
                                    <span th:text="${transactionModel.getAccountModel().getCurrencyModel().getSymbol()}"></span>
                                </li>
                            </ul>

                            <div th:if="${transactionModel.getAccountModel() == null}">
                                <div class="alert alert-danger" role="alert">Account is null!</div>
                            </div>
                        </div>
                        <div class="col">
                            <div th:if="${transactionModel.getCategoryTransactionModel() != null}">
                                <h6>Transaction categories</h6>
                                <ul class="list-group list-group-flush"
                                    th:each="category : ${transactionModel.getCategoryTransactionModel()}">
                                    <li class="list-group-item" th:text="${category.getName()}"></li>
                                </ul>
                            </div>

                            <div th:if="${transactionModel.getCategoryTransactionModel() == null}">
                                <div class="alert alert-danger" role="alert">Categories is null!</div>
                            </div>
                        </div>

                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateModal"
                                th:attrappend="data-target=${'' + transactionModel.getId()}">
                            Update
                        </button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                                th:attrappend="data-target=${'' + transactionModel.getId()}">
                            Delete
                        </button>
                    </div>
                    <div th:insert="transaction/transactionUpdate :: modalUpdate(transaction = ${transactionModel}, accountModels = ${accountModels}, categoryModels = ${categoryModels})"></div>
                    <div th:insert="transaction/transactionDelete :: modalDelete(transactionId = ${transactionModel.getId()})"></div>

                </div>

                <div th:if="${transactionModel == null}">
                    <div class="alert alert-danger" role="alert">Transaction not found!</div>
                    <div th:insert="alertRedirect :: alertRedirect(current = ${'transaction'})"></div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>