<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="modalCreate(accountModels, categoryModels)">
    <!-- Modal -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create transaction</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/transaction" method="post">
                        <div class="form-group">
                            <label for="amount">Amount</label>
                            <input type="number" class="form-control" name="amount" id="amount" required>
                        </div>
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input type="date" class="form-control" name="date" id="date" required>
                            <label for="time">Time</label>
                            <input type="time" class="form-control" name="time" id="time" required>
                        </div>
                        <div class="form-group">
                            <label for="account">Account</label>
                            <select class="form-control" name="account" id="account" required>
                                <div th:each="account : ${accountModels}">
                                    <option th:value="${account.getId()}">
                                        <span th:text="${account.getName()}"></span>
                                    </option>
                                </div>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select multiple class="form-control" name="category" id="category" required>
                                <div th:each="category : ${categoryModels}">
                                    <option th:value="${category.getId()}">
                                        <span th:text="${category.getName()}"></span>
                                    </option>
                                </div>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Create transaction</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>