<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Account find</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <style type="text/css">
        main > .container {
            padding: 80px 15px 0;
        }

        div > .transactionBlock {
            padding: 20px 15px 0;
        }
    </style>
</head>

<body>

<div th:insert="navbarHeader :: header (current = ${'account'})"></div>

<main role="main">
    <div class="container">
        <div class="row">
            <div class="col-2"></div>

            <div class="col-8">
                <div>
                    <div class="transactionBlock">
                        <table class="table" th:if="${account != null}">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Account</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Currency</th>
                                <th scope="col">Bank</th>
                                <th scope="col">Type</th>
                                <th scope="col">Active</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row" th:text="${account.getId()}"></th>
                                <td th:text="${account.getName()}"></td>
                                <td th:text="${account.getAmount()}"></td>
                                <div th:if="${account.getCurrencyModel() != null}">
                                    <td>
                                        <span th:text="${account.getCurrencyModel().getName()}">/</span>
                                        <span th:text="${account.getCurrencyModel().getCode()}">/</span>
                                        <span th:text="${account.getCurrencyModel().getSymbol()}"></span>
                                    </td>
                                </div>
                                <div th:if="${account.getCurrencyModel() == null}">
                                    <td>
                                        <h3><span class="badge badge-danger">NULL</span></h3>
                                    </td>
                                </div>
                                <div th:if="${account.getBankModel() != null}">
                                    <td th:text="${account.getBankModel().getName()}"></td>
                                </div>
                                <div th:if="${account.getBankModel() == null}">
                                    <td>
                                        <h3><span class="badge badge-danger">NULL</span></h3>
                                    </td>
                                </div>
                                <div th:if="${account.getAccountTypeModel() != null}">
                                    <td th:text="${account.getAccountTypeModel().getType()}"></td>
                                </div>
                                <div th:if="${account.getAccountTypeModel() == null}">
                                    <td>
                                        <h3><span class="badge badge-danger">NULL</span></h3>
                                    </td>
                                </div>
                                <div th:if="${account.isActive()}">
                                    <td>
                                        <h3><span class="badge badge-success">Active</span></h3>
                                    </td>
                                </div>
                                <div th:if="${!account.isActive()}">
                                    <td>
                                        <h3><span class="badge badge-danger">Not active</span></h3>
                                    </td>
                                </div>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-warning" data-toggle="modal"
                                                data-target="#updateModal"
                                                th:attrappend="data-target=${'' + account.getId()}">
                                            Update
                                        </button>
                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                data-target="#deleteModal"
                                                th:attrappend="data-target=${'' + account.getId()}">
                                            Delete
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <div th:insert="account/accountUpdate :: modalUpdate(account = ${account}, accountTypeList = ${accountTypeModels}, bankList = ${bankModels}, currencyList = ${currencyModels})"></div>
                            <div th:insert="account/accountDelete :: modalDelete(accountId = ${account.getId()})"></div>
                            </tbody>
                        </table>

                        <div th:if="${account == null}">
                            <div class="alert alert-danger" role="alert">Account not found!</div>
                            <div th:insert="alertRedirect :: alertRedirect(current = ${'account'})"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>