<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="modalCreate(accountTypeList, bankList, currencyList)">
    <!-- Modal -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/account" method="post">
                        <div class="form-group">
                            <label for="accountName">Account name</label>
                            <input type="text" class="form-control" name="accountName" id="accountName" required>
                        </div>
                        <div class="form-group">
                            <label for="amount">Amount</label>
                            <input type="number" class="form-control" name="amount" id="amount" required>
                        </div>
                        <div class="form-group">
                            <label for="bank">Bank</label>
                            <select class="form-control" name="bank" id="bank" required>
                                <div th:each="bank : ${bankList}">
                                    <option th:value="${bank.getId()}">
                                        <span th:text="${bank.getName()}"></span>
                                    </option>
                                </div>
                            </select>
                            <label for="accountType">Account type</label>
                            <select class="form-control" name="accountType" id="accountType" required>
                                <div th:each="accType : ${accountTypeList}">
                                    <option th:value="${accType.getId()}">
                                        <span th:text="${accType.getType()}"></span>
                                    </option>
                                </div>
                            </select>
                            <label for="currency">Currency</label>
                            <select class="form-control" name="currency" id="currency" required>
                                <div th:each="currency : ${currencyList}">
                                    <option th:value="${currency.getId()}">
                                        <span th:text="${currency.getName()}">/</span>
                                        <span th:text="${currency.getCode()}">/</span>
                                        <span th:text="${currency.getSymbol()}"></span>
                                    </option>
                                </div>
                            </select>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="isActive" id="exampleRadios1" value="true" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                Active account
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="isActive" id="exampleRadios2" value="false">
                            <label class="form-check-label" for="exampleRadios2">
                                Disabled account
                            </label>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Create account</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>