<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="modalUpdate(account, accountTypeList, bankList, currencyList)">
    <!-- Modal -->
    <div class="modal fade" id="updateModal" th:attrappend="id=${'' + account.getId()}" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/account" method="post">
                        <div class="form-group">
                            <label for="accountId">Currency ID</label>
                            <input class="form-control" type="text" name="id" th:value="${account.getId()}"
                                   id="accountId"
                                   readonly>
                        </div>
                        <div class="form-group">
                            <label for="accountName">Account name</label>
                            <input type="text" class="form-control" name="accountName" id="accountName"
                                   th:value="${account.getName()}" required>
                        </div>
                        <div class="form-group">
                            <label for="amount">Amount</label>
                            <input type="number" class="form-control" name="amount" id="amount"
                                   th:value="${account.getAmount()}" required>
                        </div>
                        <div class="form-group" th:if="${account.getBankModel() !=null}">
                            <label for="bank">Bank</label>
                            <select class="form-control" name="bank" id="bank" required>
                                <div th:each="bank : ${bankList}">
                                    <option th:selected="${account.getBankModel().getId() == bank.getId()}"
                                            th:value="${bank.getId()}">
                                        <span th:text="${bank.getName()}"></span>
                                    </option>
                                </div>
                            </select>
                        </div>
                        <div class="form-group" th:if="${account.getBankModel() ==null}">
                            <label for="bank">Bank</label>
                            <select class="form-control" name="bank" id="bank" required>
                                <div th:each="bank : ${bankList}">
                                    <option th:value="${bank.getId()}">
                                        <span th:text="${bank.getName()}"></span>
                                    </option>
                                </div>
                            </select>
                        </div>

                        <div class="form-group" th:if="${account.getAccountTypeModel() != null}">
                            <label for="accountType">Account type</label>
                            <select class="form-control" name="accountType" id="accountType" required>
                                <div th:each="accType : ${accountTypeList}">
                                    <option th:selected="${account.getAccountTypeModel().getId() == accType.getId()}"
                                            th:value="${accType.getId()}">
                                        <span th:text="${accType.getType()}"></span>
                                    </option>
                                </div>
                            </select>
                        </div>
                        <div class="form-group" th:if="${account.getAccountTypeModel() == null}">
                            <label for="accountType">Account type</label>
                            <select class="form-control" name="accountType" id="accountType" required>
                                <div th:each="accType : ${accountTypeList}">
                                    <option th:value="${accType.getId()}">
                                        <span th:text="${accType.getType()}"></span>
                                    </option>
                                </div>
                            </select>
                        </div>

                        <div class="form-group" th:if="${account.getCurrencyModel() != null}">
                            <label for="currency">Currency</label>
                            <select class="form-control" name="currency" id="currency" required>
                                <div th:each="currency : ${currencyList}">
                                    <option th:selected="${account.getCurrencyModel().getId() == currency.getId()}"
                                            th:value="${currency.getId()}">
                                        <span th:text="${currency.getName()}">/</span>
                                        <span th:text="${currency.getCode()}">/</span>
                                        <span th:text="${currency.getSymbol()}"></span>
                                    </option>
                                </div>
                            </select>
                        </div>
                        <div class="form-group" th:if="${account.getCurrencyModel() == null}">
                            <label for="currency">Currency</label>
                            <select class="form-control" name="currency" id="currency" required>
                                <div th:each="currency : ${currencyList}">
                                    <option th:value="${currency.getId()}">
                                        <span th:text="${currency.getName()}">/</span>
                                        <span th:text="${currency.getCode()}">/</span>
                                        <span th:text="${currency.getSymbol()}"></span>
                                    </option>
                                </div>
                            </select>
                        </div>

                        <div th:if="${account.isActive()}">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="isActive" id="exampleRadios1"
                                       value="true" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    Active account
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="isActive" id="exampleRadios2"
                                       value="false">
                                <label class="form-check-label" for="exampleRadios2">
                                    Disabled account
                                </label>
                            </div>
                        </div>

                        <div th:if="${!account.isActive()}">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="isActive" id="exampleRadios1"
                                       value="true">
                                <label class="form-check-label" for="exampleRadios1">
                                    Active account
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="isActive" id="exampleRadios2"
                                       value="false" checked>
                                <label class="form-check-label" for="exampleRadios2">
                                    Disabled account
                                </label>
                            </div>
                        </div>

                        <input type="hidden" name="_method" value="PUT">

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Update account</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>