<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="modalCreate(categoryList)">
    <!-- Modal -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/category" method="post">
                        <div class="form-group">
                            <label for="categoryName">Category name</label>
                            <input type="text" class="form-control" name="categoryName" id="categoryName" required>
                        </div>
                        <div class="form-group">
                            <label for="parentCategoryId">Parent category</label>
                            <select class="form-control" name="parentCategoryId" id="parentCategoryId">
                                <option value="">
                                    <span>NULL</span>
                                </option>
                                <div th:each="cat : ${categoryList}">
                                    <option th:value="${cat.getId()}">
                                        <span th:text="${cat.getName()}"></span>
                                    </option>
                                </div>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Create category</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>