<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="modalUpdate(category, categoryList)">

    <!-- Modal -->
    <div class="modal fade" id="updateModal" th:attrappend="id=${'' + category.getId()}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/category" method="post">
                        <div class="form-group">
                            <label for="categoryId">Category ID</label>
                            <input class="form-control" type="text" name="id" th:value="${category.getId()}"
                                   id="categoryId"
                                   readonly>
                        </div>
                        <div class="form-group">
                            <label for="categoryName">Category name</label>
                            <input type="text" class="form-control" name="categoryName" id="categoryName"
                                   th:value="${category.getName()}"
                                   required>
                        </div>

                        <div class="form-group" th:if="${category.getParentCategoryTransactionModel() != null}">
                            <label for="parentCategoryId">Parent category</label>
                            <select class="form-control" name="parentCategoryId" id="parentCategoryId" >
                                <option value="">
                                    <span>NULL</span>
                                </option>
                                <div th:each="cat : ${categoryList}">
                                    <option th:selected="${category.getParentCategoryTransactionModel().equals(cat)}"
                                            th:value="${cat.getId()}">
                                        <span th:text="${cat.getName()}"></span>
                                    </option>
                                </div>
                            </select>
                        </div>

                        <div class="form-group" th:if="${category.getParentCategoryTransactionModel() == null}">
                            <label for="parentCategoryId">Parent category</label>
                            <select class="form-control" name="parentCategoryId" id="parentCategoryId" >
                                <option value="">
                                    <span>NULL</span>
                                </option>
                                <div th:each="cat : ${categoryList}">
                                    <option th:value="${cat.getId()}">
                                        <span th:text="${cat.getName()}"></span>
                                    </option>
                                </div>
                            </select>
                        </div>

                        <input type="hidden" name="_method" value="PUT">

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-warning">Update category</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>