<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Alert</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
        main > .container {
            padding: 80px 15px 0;
        }
    </style>
</head>

<body>

<div th:insert="navbarHeader :: header (current = ${'bank'})"></div>

<main>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>

            <div class="col-8">
                <div th:if="${alertType == 'delete'}">
                    <div class="alert alert-success" role="alert" th:if="${not exception}">
                        Bank with id = <span th:text="${bankId}"></span> was deleted!
                    </div>
                    <div class="alert alert-danger" role="alert" th:if="${exception}">
                        Bank with id = <span th:text="${bankId}"></span> was't deleted!
                    </div>
                </div>
                <div th:if="${alertType == 'create'}">
                    <div class="alert alert-success" role="alert" th:if="${not exception}">
                        Bank with id = <span th:text="${bankId}"></span> was created!
                    </div>
                    <div class="alert alert-danger" role="alert" th:if="${exception}">
                        Bank was't created!

                    </div>
                </div>
                <div th:if="${alertType == 'update'}">
                    <div class="alert alert-success" role="alert" th:if="${not exception}">
                        Bank with id = <span th:text="${bankId}"></span> was updated!
                    </div>
                    <div class="alert alert-danger" role="alert" th:if="${exception}">
                        Bank with id = <span th:text="${bankId}"></span> was't updated!
                    </div>
                </div>
                <div th:insert="alertRedirect :: alertRedirect(current = ${'bank'})"></div>
            </div>
        </div>
    </div>
</main>
</body>
</html>