<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bank list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <style type="text/css">
        main > .container {
            padding: 80px 15px 0;
        }

        div > .createButton {
            padding: 80px 15px 0;
        }

        div > .transactionBlock {
            padding: 20px 15px 0;
        }
    </style>
</head>

<body>

<div th:insert="navbarHeader :: header (current = ${'bank'})"></div>

<main role="main">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="createButton sticky-top">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createModal">
                        Create new bank
                    </button>
                </div>
            </div>

            <div class="col-8">
                <div>
                    <div class="transactionBlock">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Bank</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody th:each="bank : ${bankModels}">
                            <tr>
                                <th scope="row" th:text="${bank.getId()}"></th>
                                <td th:text="${bank.getName()}"></td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-warning" data-toggle="modal"
                                                data-target="#updateModal"
                                                th:attrappend="data-target=${'' + bank.getId()}">
                                            Update
                                        </button>
                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                data-target="#deleteModal"
                                                th:attrappend="data-target=${'' + bank.getId()}">
                                            Delete
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <div th:insert="bank/bankUpdate :: modalUpdate(bank = ${bank})"></div>
                            <div th:insert="bank/bankDelete :: modalDelete(bankId = ${bank.getId()})"></div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Modal create -->
<div th:insert="bank/bankCreate :: modalCreate"></div>

</body>
</html>